<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10 col-12 order-2 order-lg-1">
      <div class="home-text">
        <h1 class="display-4">Welcome to ECOMM</h1>
        <p class="lead">Eiusmod velit esse non eiusmod nulla sit mollit est tempor. Minim ea nulla do adipisicing. Reprehenderit irure nisi excepteur veniam excepteur. Amet enim Lorem amet sunt elit nulla. Anim sint ex ad magna. Officia culpa eiusmod adipisicing fugiat adipisicing labore. Pariatur veniam enim deserunt occaecat anim tempor magna aliquip culpa et deserunt consectetur nisi. Laboris non incididunt exercitation exercitation laborum sunt ullamco pariatur magna qui occaecat et.</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-8 col-sm-10 col-12 order-1 order-lg-2">
      <%= render 'shared/login_form' %>
    </div>
  </div>
</div>
