@import "bootstrap";

body {
  padding-top: 60px;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}



/*HEADER*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* TYPOGRAPHY */




.dropdown-menu.active {
  display: block;
}


#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


.password-new, .confirmation-new{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .form{
    margin-top: 50px;
    width: 450px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(188, 188, 188, 1%);
  }

  input{
    margin-top: 0;
    padding: 3px 10px;
    border-radius: 10px;
    width:100%;
  }

  input[type="submit"]{
    color: white;
      background-color: #1c1c1c;
      font-size: 1.2em;
      width: 100%;
      padding: 5px 0 5px 0;
      margin-top: 15px;
      border: 4px solid rgb(21, 21, 21);
      border-radius: 15px;
  }
}

.my-form{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  .form{
    margin-top: 50px;
    width: 450px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px 1px rgba(188, 188, 188, 1%);
  }

  input[type="submit"]{
    color: white;
      background-color: #1c1c1c;
      font-size: 1.2em;
      width: 100%;
      padding: 5px 0 5px 0;
      margin-top: 15px;
      border: 4px solid rgb(21, 21, 21);
      border-radius: 15px;
  }
}

